.about-us {
  display: flex;
  min-height: 720px;
  overflow: hidden;
}

.about-us__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--color-white);

  position: relative;
}

.about-us__image div {
  padding: 32px 64px;

  flex: 1;
  display: flex;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__image-sushi3 {
  border-bottom: 8px solid var(--color-creamson);

  background-image: url("../../assets/about_bg1.png")
}

.about-us__image-sushi2 {
  background-image: url("../../assets/about_bg2.png")
}

.about-us__image-sushi3 img {
  width: 225px;
  height: 200px;
}

.about-us__image-sushi2 img {
  width: 240px;
  height: 160px;
}

.about-us__button {
  position: absolute;
  right: 0;

  padding: 12px 32px;
  min-height: 64px;

  background: var(--secondary-color);
  border-radius: 32px 0 0 32px;
  border: 0;
  outline: 0;

  color: #fff;
  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  cursor: pointer;
}

.about-us__button img {
  object-fit: contain;
  margin-left: 32px;
}

.about-us__content {
  padding: 64px;

  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}